In [1]:
bay_blade = {'name' : 'Tyson','b_beast': 'Dragoon', 'rank' : 1, 'loc':'Japan'}
bay_blade.update({'name' : 'Kai','coach':'tyson'})

In [2]:
bay_blade

{'name': 'Kai',
 'b_beast': 'Dragoon',
 'rank': 1,
 'loc': 'Japan',
 'coach': 'tyson'}

In [5]:
del bay_blade['rank']

KeyError: 'rank'

In [6]:
bay_blade.pop('name')

'Kai'

In [7]:
bay_blade.items()

dict_items([('b_beast', 'Dragoon'), ('loc', 'Japan'), ('coach', 'tyson')])

In [8]:
def hello_func(name,loc,msg='hello'):
    return f'{msg} {name} from {loc}'

In [11]:
print(hello_func(name='raj',msg='call',loc='ind'))

call raj from ind

In [ ]:
hello_func()

In [12]:
def new_func(*args,**kwargs):
    print('args: ',args)
    print('kwargs',kwargs)

In [17]:
name = ['messi','aguero']
info = {'club' : 'Barcelona','pos' : 'FW'}
new_func(*name,**info)

args:  ('messi', 'aguero')
kwargs {'club': 'Barcelona', 'pos': 'FW'}

In [17]:
x = [1,2,3,4,5,7,6,8,9,10,5,8]
x[6:2:-1]

[6, 7, 5, 4]

In [19]:
x[-1:-8]

[]

In [20]:
#lambda expression
lambda x : 3*x +1

In [21]:
g = lambda x : 3*x +1

In [22]:
g(2)

7

In [24]:
#lambda expression with more than one input
full_name = lambda fn,ln : fn.strip().title() + ' ' + ln.strip().title()
full_name('  raj ','       aryan')

'Raj Aryan'

In [2]:
scifi_authors = ['Isaac Asimov','Ray Bradbury','Robert heinlein','Arthus H. Clark','Orson Scott card','H. G. Wells','leigh Bracket']
scifi_authors[-1]

'leigh Bracket'

In [34]:
scifi_authors.sort(key=lambda x : x.split(' ')[-1].lower())

In [1]:
s = 'hi this is good.'
l = s.split(' ')
l

['hi', 'this', 'is', 'good.']

In [35]:
scifi_authors

['Isaac Asimov',
 'leigh Bracket',
 'Ray Bradbury',
 'Orson Scott card',
 'Arthus H. Clark',
 'Robert heinlein',
 'H. G. Wells']

In [37]:
#f(x) = a*x^2 + b*x + c
def build_fn(a,b,c):
    return lambda x: a*x**2 + b*x + c

In [38]:
f = build_fn(2,3,4)

In [39]:
f(2)

18

In [44]:
g = build_fn(1,-1,3)

In [41]:
g(3)

9

In [43]:
build_fn(1,-1,2)(-5)

32

In [45]:
lx = [1,2,3,4,5,6]
map(g,lx)

In [4]:
s ='4|,~2|,~lowes|,~att'
x = s.split('|,~')
x

['4', '2', 'lowes', 'att']

In [47]:
ly = list(map(g,lx))
ly

[3, 5, 9, 15, 23, 33]

In [49]:
temps = [('Berlin',29),('Cairo',36),('Buenos Airs',19),('Los Angeles',26),('Tokyo',27),('New York',28),('London',22),('Beijing',32)]

In [50]:
c_to_f = lambda data : (data[0],(9/5)*data[1] + 32)

In [52]:
op_f = list(map(c_to_f,temps))
op_f

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Airs', 66.2),
 ('Los Angeles', 78.80000000000001),
 ('Tokyo', 80.6),
 ('New York', 82.4),
 ('London', 71.6),
 ('Beijing', 89.6)]

In [70]:
type(map(c_to_f,temps))

map

In [55]:
#filter
import statistics as st
data = [2.3,1.7,5,7.8,-3.2,-1.9]
avg = st.mean(data)
avg

1.95

In [59]:
above_avg = list(filter(lambda x: x>avg,data))

In [60]:
above_avg

In [58]:
#remove missing data
countries = ["Argentina","","Germany","Chile","","France","","India"]
list(filter(None,countries))

['Argentina', 'Germany', 'Chile', 'France', 'India']

In [61]:
#list comprehension
t = 3,4,5,6

In [62]:
t

(3, 4, 5, 6)

In [64]:
my_list = [(l,n) for l in 'abcd' for n in range(len('abcd'))]

In [65]:
my_list

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

In [68]:
my_list = [(l,n) for n in range(len('abcd')) for l in 'abcd']

In [69]:
my_list

[('a', 0),
 ('b', 0),
 ('c', 0),
 ('d', 0),
 ('a', 1),
 ('b', 1),
 ('c', 1),
 ('d', 1),
 ('a', 2),
 ('b', 2),
 ('c', 2),
 ('d', 2),
 ('a', 3),
 ('b', 3),
 ('c', 3),
 ('d', 3)]

In [72]:
names = ['Bruce','Clark','Peter','Logan','Wade']
heros = ['Batman','Superman','Spiderman','Wolverine','Deadpool']
list(zip(names,heros))

[('Bruce', 'Batman'),
 ('Clark', 'Superman'),
 ('Peter', 'Spiderman'),
 ('Logan', 'Wolverine'),
 ('Wade', 'Deadpool')]

In [73]:
st = 'tgnd-vetbnd'
len(st)

11

In [74]:
info_heros = {n : h for n,h in zip(names,heros)}

In [75]:
info_heros

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Peter': 'Spiderman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [76]:
st = "hithisisram"

'marsisihtih'

In [79]:
columns = [1,2,2,3,1,3,4,5,5,1,7,5,7,6,9,8,8,9]
seen = set()
seen_add = seen.add
uniq_columns = [x for x in columns if not (x in seen or seen_add(x))]
uniq_columns

[1, 2, 3, 4, 5, 7, 6, 9, 8]

In [82]:
uniq_columns = {c for c in columns}

In [83]:
uniq_columns

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [86]:
#variable scope
'''LEGB
Local , Enclosing, Global, Built-In
'''
x = 'global x'
y = 'global y'
def test():
    y = 'local y'
    print(y)

test()
print(y)

local y
global y

In [90]:
s = set()

In [93]:
s.add(5)
s

{5, 6}

In [94]:
info_heros.keys()

dict_keys(['Bruce', 'Clark', 'Peter', 'Logan', 'Wade'])

In [95]:
info_heros.values()

dict_values(['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool'])

In [97]:
list(info_heros.items())

[('Bruce', 'Batman'),
 ('Clark', 'Superman'),
 ('Peter', 'Spiderman'),
 ('Logan', 'Wolverine'),
 ('Wade', 'Deadpool')]

In [100]:
A = ['raj','aryan','sayan','sayak','arijit']
eA = list(enumerate(A))
print(eA)
for n,item in eA:
    print(n,item)

[(0, 'raj'), (1, 'aryan'), (2, 'sayan'), (3, 'sayak'), (4, 'arijit')]
0 raj
1 aryan
2 sayan
3 sayak
4 arijit

In [103]:
#sorting
l1 = [9,7,5,8,1,4,2,3]
sorted_l = sorted(l1 , reverse=True)
sorted_l

[9, 8, 7, 5, 4, 3, 2, 1]

In [113]:
#string formatting
detail = {'name' : 'Chandler', 'age' : 23, 'attr' : 'Funny'}
op_s = f"Hi this is {detail['name']}. I am {detail['age']} years old. Can I be any more {detail['attr']}"
print(op_s)
sen_o = 'Hi this is {name}. I am {age:.3f} years old. Can I be any more {attr}'.format(**detail)
print(sen_o)

Hi this is Chandler. I am 23 years old. Can I be any more Funny
Hi this is Chandler. I am 23.000 years old. Can I be any more Funny

In [107]:
var = 23
msg = f'the value is {var} that we are dealing with.'
msg

'the value is 23 that we are dealing with.'

In [109]:
sen = "Hi this is {name} and I don't share {attri}".format(attri=10,name='Joey')
sen

"Hi this is Joey and I don't share 10"

In [118]:
sen = "Hi this is {1} and I don't share {0:,.2f}".format(1000**2,'Joey')
sen

"Hi this is Joey and I don't share 1,000,000.00"

In [119]:
#date formatting
import datetime
my_date = datetime.datetime(2021,6,22,11,30,56)
my_date

datetime.datetime(2021, 6, 22, 11, 30, 56)

In [121]:
now = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
now

'2021-06-21 23:40:49.708819'

In [122]:
type(my_date)

datetime.datetime

In [123]:
type(now)

str

In [124]:
str(my_date)

'2021-06-22 11:30:56'

In [126]:
new_date = '{:%B %d, %Y}'.format(my_date)
new_date

'June 22, 2021'

In [129]:
test = 'Hi this is {0} and I am here to {1} this function for {0}'.format('Raj','test')
test

'Hi this is Raj and I am here to test this function for Raj'

In [142]:
l2 = [3,2,1,9,7,5,8,1,4,2,3,7,8,9,6]
l2.index(9,2)

3

In [143]:
msg = 'hello world'
msg.index('o',5)

7

In [148]:
replace_msg = msg.replace('world','universe')
print(replace_msg)

hello universe

In [147]:
msg

'hello world'

In [153]:
7%6

1

In [156]:
print(abs(-3))
print(round(7.35,1))

3
7.3

In [ ]:
"'==' checks for equality"
"'is' checks for identity"

In [4]:
f = open('sp_apt_File_Split_Compress.py','r')

In [5]:
f.read()

'from pyspark.sql import SparkSession\nfrom sys import argv\nimport json\n# The config File used is in proerties folder named properties/EDAM_PCM_DigitalAssests.json\nconfig_file = argv[1]\netl_jobname = argv[2]\nwith open(config_file, \'r\') as config_file:\n    config = json.load(config_file)\n\nspark = SparkSession.builder.appName(etl_jobname).getOrCreate()\ndf = spark.read.csv(config[etl_jobname +\'_hdfsstagepath\'] ,sep=\'|\',header = True)\ndf.coalesce(config[etl_jobname + \'_numberoffiletocompress\']) \\\n    .write.format(\'csv\').mode(\'overwrite\').option("header", "false")\\\n    .option("delimiter", "|").option("compression","gzip").option("header", "true")\\\n    .save(config[etl_jobname +\'_hdfstargetpath\'])\n\n'

In [6]:
f.close()

In [ ]:
FileNotFoundError

In [18]:
def add_num(*l):
    sum = 0
    for i in l:
        sum += i
    return sum

In [19]:
print(add_num(*[1,2,1]))

4

In [73]:
class Employee:
    raise_amount = 1.5
    num_emp = 0
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = self.fname + '.' + self.lname + '@sleep.com'
        Employee.num_emp += 1

    def fullname(self):
        return f'{self.fname} {self.lname}'

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount)

In [75]:
emp1 = Employee('Raj','Aryan',2000)
emp2 = Employee('Peter','Parker',7000)

In [24]:
print(Employee.fullname(emp1))
emp1.fullname()

Raj Aryan

'Raj Aryan'

In [48]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)

2000
3000

In [67]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.5
1.5
1.5

In [59]:
print(emp2.__dict__)

{'fname': 'Peter', 'lname': 'Parker', 'pay': 7000, 'email': 'Peter.Parker@sleep.com'}

In [68]:
Employee.raise_amount = 1.6

In [69]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.6
1.6
1.6

In [70]:
emp1.raise_amount = 1.7

In [71]:
print(emp1.__dict__)

{'fname': 'Raj', 'lname': 'Aryan', 'pay': 2000, 'email': 'Raj.Aryan@sleep.com', 'raise_amount': 1.7}

In [72]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.6
1.7
1.6

In [76]:
Employee.num_emp

2

In [77]:
#closures
def dec_fun(msg):
    def wrap_fun():
        print(msg)
    return wrap_fun

In [78]:
hi_fun = dec_fun('hi')
hi_fun()

hi

In [103]:
#decorators
def dec_fun(org_fun):
    def wrap_fun(*args,**kwargs):
        print(f'wrapper executed this before {org_fun.__name__}')
        return org_fun(*args,**kwargs)
    return wrap_fun

In [89]:
def display():
    print('display fun ran.')

In [91]:
deco_display = dec_fun(display)
deco_display()

wrapper executed this before display
display fun ran.

In [99]:
@dec_fun
def display():
    print('display fun ran.')

In [100]:
display()

wrapper executed this before display
display fun ran.

In [94]:
@dec_fun
def hello_fn():
    print('Hi there')

In [95]:
hello_fn()

wrapper executed this before hello_fn
Hi there

In [106]:
@dec_fun
def display_info(name,attr):
    print(f'display_info ran with arguments {name} & {attr}')

In [107]:
display_info('Raj','Sleep')

wrapper executed this before display_info
display_info ran with arguments Raj & Sleep

In [120]:
class Employee:
    raise_amount = 1.5
    num_emp = 0
    def __init__(self,fname,lname,pay):
        self.fname = fname
        self.lname = lname
        self.pay = pay
        self.email = self.fname + '.' + self.lname + '@sleep.com'
        Employee.num_emp += 1

    def fullname(self):
        return f'{self.fname} {self.lname}'

    def apply_raise(self):
        self.pay = int(int(self.pay) * self.raise_amount)

    @classmethod
    def set_raise_amt(cls,amt):
        cls.raise_amount = amt

    @classmethod
    def from_string(cls,emp_str):
        first,last,pay = emp_str.split('-')
        return cls(first,last,pay)

In [110]:
emp1 = Employee('Raj','Aryan',2000)
emp2 = Employee('Peter','Parker',7000)

In [113]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.7
1.7
1.7

In [112]:
Employee.set_raise_amt(1.7)

In [117]:
new_emp = Employee.from_string('Raj-Aryan-2000')

In [119]:
new_emp.email

'Raj.Aryan@sleep.com'

In [125]:
class Developer(Employee):
    raise_amount = 1.8

    def __init__(self,fname,lname,pay,prog_lang):
        super().__init__(fname,lname,pay)
        self.prog_lang = prog_lang

    def show_lang(self):
        return f'{self.fname} {self.lname} uses {self.prog_lang}'

In [126]:
dev1 = Developer('Raj','Aryan',2000,'python')

In [127]:
dev1.show_lang()

'Raj Aryan uses python'

In [128]:
issubclass(Developer,Employee)

True

In [130]:
dev1.apply_raise()
dev1.pay

3600

In [135]:
from datetime import datetime
old_print = print

def timestamped_print(*args, **kwargs):
    now = datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
    printheader = now + " " + "DI" + " " + "Training" + " - "
    old_print(printheader, *args, **kwargs)
print = timestamped_print

In [136]:
print('Starting Spark Ingestion')

RecursionError: maximum recursion depth exceeded while calling a Python object