In [2]:
bay_blade = {'name' : 'Tyson','b_beast': 'Dragoon', 'rank' : 1, 'loc':'Japan'}
name = ['messi','aguero']
info = {'club' : 'Barcelona','pos' : 'FW'}
scifi_authors = ['Isaac Asimov','Ray Bradbury','Robert heinlein','Arthus H. Clark','Orson Scott card','H. G. Wells','leigh Bracket']
temps = [('Berlin',29),('Cairo',36),('Buenos Airs',19),('Los Angeles',26),('Tokyo',27),('New York',28),('London',22),('Beijing',32)]
names = ['Bruce','Clark','Peter','Logan','Wade']
heros = ['Batman','Superman','Spiderman','Wolverine','Deadpool']

In [6]:
bay_blade.get('wc',0)

'hello'

In [11]:
#list comprehension
l = [1,2,3,4,5,6]
l1 = [5,6,7]
new_l = []
for i in l:
    if i not in l1:
        new_l.append(i*2)

new_l

[2, 4, 6, 8]

In [12]:
new_ll = [x*2 for x in l if x not in l1]
new_ll

[2, 4, 6, 8]

In [16]:
new_l2 = []
var = 'chandler'
for c in var:
    for n in range(len(var)):
        new_l2.append((c,n))

print('blah')

blah

In [20]:
new_l2 = [(n,c) for n in  range(len(var)) for c in var]
new_l2

[(0, 'c'),
 (0, 'h'),
 (0, 'a'),
 (0, 'n'),
 (0, 'd'),
 (0, 'l'),
 (0, 'e'),
 (0, 'r'),
 (1, 'c'),
 (1, 'h'),
 (1, 'a'),
 (1, 'n'),
 (1, 'd'),
 (1, 'l'),
 (1, 'e'),
 (1, 'r'),
 (2, 'c'),
 (2, 'h'),
 (2, 'a'),
 (2, 'n'),
 (2, 'd'),
 (2, 'l'),
 (2, 'e'),
 (2, 'r'),
 (3, 'c'),
 (3, 'h'),
 (3, 'a'),
 (3, 'n'),
 (3, 'd'),
 (3, 'l'),
 (3, 'e'),
 (3, 'r'),
 (4, 'c'),
 (4, 'h'),
 (4, 'a'),
 (4, 'n'),
 (4, 'd'),
 (4, 'l'),
 (4, 'e'),
 (4, 'r'),
 (5, 'c'),
 (5, 'h'),
 (5, 'a'),
 (5, 'n'),
 (5, 'd'),
 (5, 'l'),
 (5, 'e'),
 (5, 'r'),
 (6, 'c'),
 (6, 'h'),
 (6, 'a'),
 (6, 'n'),
 (6, 'd'),
 (6, 'l'),
 (6, 'e'),
 (6, 'r'),
 (7, 'c'),
 (7, 'h'),
 (7, 'a'),
 (7, 'n'),
 (7, 'd'),
 (7, 'l'),
 (7, 'e'),
 (7, 'r')]

In [21]:
import  pandas as pd
import numpy as np
import datetime

In [22]:
now = datetime.datetime.now()

In [25]:
now

datetime.datetime(2021, 6, 23, 11, 23, 56, 706148)

In [31]:
my_date = '{:%B %d, %Y}'.format(now)
my_date

'June 23, 2021'

In [32]:
now.strftime("%Y-%m-%d %H:%M:%S.%f")

'2021-06-23 11:23:56.706148'

In [69]:
#funtions
def hello_world(name,attr,rank=1,lang='python'):
    #print('hello world print')
    return f'hello world for {name} & {attr} with rank {rank} and prog lang {lang}'

In [70]:
var = hello_world('aryan','code',3,'java')

In [71]:
print(var)

hello world for aryan & code with rank 3 and prog lang java

In [76]:
#z = 'global z'
def func():
    #y = 'local y'
    z = 'local x'
    print(x)

func()
print(x)

local x
global x

In [78]:
name = ['messi','aguero']
info = {'club' : 'Barcelona','pos' : 'FW'}

def new_fun(*args,**kwargs):
    print('args: ', args)
    print('kwargs: ', kwargs)

In [85]:
new_fun(*name,**info)

args:  ('messi', 'aguero')
kwargs:  {'club': 'Barcelona', 'pos': 'FW'}

In [87]:
#lambda
#3x + 1

fun = lambda x : 3*x + 1

In [88]:
fun(3)

10

In [89]:
first_name = lambda fn,ln : fn.strip().title() + ' ' + ln.strip().title()

In [90]:
first_name(' raj   ' , '            aryan ')

'Raj Aryan'

In [93]:
'kdgcksdgkds'.upper()

'KDGCKSDGKDS'

In [95]:
#a*x**2 + b*x + c

def q_f_gen(a,b,c):
    return lambda x : a*x**2 + b*x + c

In [96]:
f = q_f_gen(2,3,4)

In [97]:
type(f)

function

In [98]:
f(2)

18

In [99]:
q_f_gen(2,3,4)(2)

18

In [100]:
scifi_authors = ['Isaac Asimov','Ray Bradbury','Robert heinlein','Arthus H. Clark','Orson Scott card','H. G. Wells','leigh Bracket']

In [102]:
scifi_authors.sort(key=( lambda x : x.split(' ')[-1]))

In [101]:
x = "jgd.dhgshjgds.adufadfd.dayasfdhafd"
l_x = x.split('.')
l_x

['jgd', 'dhgshjgds', 'adufadfd', 'dayasfdhafd']

In [103]:
scifi_authors

['Isaac Asimov',
 'leigh Bracket',
 'Ray Bradbury',
 'Arthus H. Clark',
 'H. G. Wells',
 'Orson Scott card',
 'Robert heinlein']

In [105]:
for item in scifi_authors:
    l = item.split(' ')[-1]
    print(l)

Asimov
Bracket
Bradbury
Clark
Wells
card
heinlein

In [106]:
temps = [('Berlin',29),('Cairo',36),('Buenos Airs',19),('Los Angeles',26),('Tokyo',27),('New York',28),('London',22),('Beijing',32)]

l = [1,2,3,4]

In [109]:
f = map(f,l)

In [110]:
f

In [114]:
c_to_f = lambda data : (data[0],data[1]*(9/5) + 32)

In [117]:
op = list(map(c_to_f,temps))

In [118]:
op

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Airs', 66.2),
 ('Los Angeles', 78.80000000000001),
 ('Tokyo', 80.6),
 ('New York', 82.4),
 ('London', 71.6),
 ('Beijing', 89.6)]

In [120]:
l = [1,2,3,4,5,6]

op = list(filter(lambda x : x>2 , l))

In [121]:
op

[3, 4, 5, 6]

In [123]:
ip_jsn ='''{
		"indicator" : "products",
		"mapStatus" : 1,
		"jsonString" : 1,
		"delimiter" : "",
		"mapDetail" : {
			"vendorNumber" : "vendorNumber",
			"modelId" : "modelId",
			"itemNumber" : "itemNumber",
			"imageUrls[].key" : "imageKey",
			"imageUrls[].value" : "imageValue",
			"omniItemId" : "omniItemId",
			"additionalBadges[]" : "additionalBadges_item",
			"marketingBullets[]" : "marketingBullets_item",
			"type" : "type",
			"sqFoot" : "sqFoot",
			"storeAttributes[].t024ItemDescription[]" : "ItemDescription",
			"storeAttributes[].values.keys" : "storeKeys",
			"storeAttributes[].values.attr[].key.baseVal" : "baseVal",
			"storeAttributes[].ecatname" : "ecatname",
			"productVariants.variants[].pdURL" : "variantURL",
			"productVariants.variants[].attributes[].value" : "value",
			"productVariants.variants1[].attributes1[].value1.baseValue" : "baseValue",
			"productVariants.variants[].attributes[].key" : "keyAtrri",
			"productVariants.variants[].attributes[].override[]" : "productOverride",
			"productVariants.parentId" : "parentId",
			"catalogVariant.variants[]" : "catVariant",
			"catalogVariant.items[]" : "varItem"
		},
		"filter" : {
			"productStatus" : "true",
			"lcomIndicator" : "Y"
		}
	}'''

In [124]:
import json
ip_dict = json.loads(ip_jsn)

In [125]:
type(ip_dict)

dict

In [126]:
l_keys = [k for k in ip_dict.keys()]
l_keys

['indicator', 'mapStatus', 'jsonString', 'delimiter', 'mapDetail', 'filter']

In [131]:
map_detail =  [v for k,v in ip_dict.items() if k == 'mapDetail'][0]

In [134]:
columns =  [c for c in map_detail.keys()]

In [135]:
columns

['vendorNumber',
 'modelId',
 'itemNumber',
 'imageUrls[].key',
 'imageUrls[].value',
 'omniItemId',
 'additionalBadges[]',
 'marketingBullets[]',
 'type',
 'sqFoot',
 'storeAttributes[].t024ItemDescription[]',
 'storeAttributes[].values.keys',
 'storeAttributes[].values.attr[].key.baseVal',
 'storeAttributes[].ecatname',
 'productVariants.variants[].pdURL',
 'productVariants.variants[].attributes[].value',
 'productVariants.variants1[].attributes1[].value1.baseValue',
 'productVariants.variants[].attributes[].key',
 'productVariants.variants[].attributes[].override[]',
 'productVariants.parentId',
 'catalogVariant.variants[]',
 'catalogVariant.items[]']

In [141]:
try:
    #f = open('training_scope.py')
    var = xyz

except Exception as e:
    print(f'the process failed with the error: {e}')
else:
    print('file found')
finally:
    print('finally it is over')

the process failed with the error: name 'xyz' is not defined
finally it is over