In [12]:
var = 5.222
print(var)

5.222

In [13]:
type(var)

float

In [15]:
print('hi we are working with ' , var , 'the dattype of which is a ', type(var))

hi we are working with  5.222 the dattype of which is a  <class 'float'>

In [20]:
#string
msg = '/lionel messi/'
#      01234   -3-2-1
print(msg)
msg.strip('/')

/lionel messi/

'lionel messi'

In [24]:
len(msg)

14

In [31]:
msg[8:2:-1]

'm leno'

In [33]:
s = 'hello world'
s[1] = 'c'

TypeError: 'str' object does not support item assignment

In [41]:
rep_s = s.replace('universe', 'titan')

In [42]:
rep_s

'hello titan'

In [43]:
a  = [1,2,3,4,5,6,7,7.8,'c','hello']
print(a)

[1, 2, 3, 4, 5, 6, 7, 7.8, 'c', 'hello']

In [48]:
type(a)
print(len(a))

10

In [51]:
a[:]

[1, 2, 3, 4, 5, 6, 7, 7.8, 'c', 'hello']

In [52]:
a

[1, 2, 3, 4, 5, 6, 7, 7.8, 'c', 'hello']

In [55]:
a[2] = 'you are not 3'
a

[1, 2, 'you are not 3', 4, 5, 6, 7, 7.8, 'c', 'hello']

In [61]:
l1 = [1,2,3,4,5,6]
l2 = [7,8,9,10]
l1.extend(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 8, 9, 10]

In [63]:
l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 8, 9, 10]

In [64]:
l2

[7, 8, 9, 10]

In [69]:
help(l2.insert)

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [68]:
l2

[7, 8, 9, 10, 2, 1]

In [70]:
l2.insert(1,6)
print(l2)

[7, 6, 8, 9, 10, 2, 1]

In [71]:
l2.sort()
print(l2)

[1, 2, 6, 7, 8, 9, 10]

In [72]:
l4 = sorted(l2,reverse=True)

In [73]:
l4

[10, 9, 8, 7, 6, 2, 1]

In [74]:
l2

[1, 2, 6, 7, 8, 9, 10]

In [75]:
#tuple
l = (1,2,3,4,5,8,9,10,'hello','world')
l

(1, 2, 3, 4, 5, 8, 9, 10, 'hello', 'world')

In [84]:
l = 4,
type(l)

tuple

In [87]:
#set
var_s = set() 
var_t = tuple() # ()
var_l = list() # []

dict

In [92]:
var_s = {'raj','ana','karts','sumit','aashish','srikant','upen','upen'}
print(var_s)

{'sumit', 'upen', 'karts', 'srikant', 'aashish', 'ana', 'raj'}

In [91]:
var_s[2]

TypeError: 'set' object does not support indexing

In [96]:
var_sup_s = {'ram','rakesh','srikant'}
inter_s = var_s.difference(var_sup_s)
print(inter_s)

{'sumit', 'upen', 'karts', 'aashish', 'ana', 'raj'}

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,3,4]

In [118]:
var = 'coke'

In [120]:
#conditional statement
if var == 'pepsi':
    print('same')
else:
    print('different')

different

In [125]:
l1 = [1,2,3,4]
l2 = l1

In [131]:
print(id(l1))
print(id(l2))

2349874630536
2349874630536

In [132]:
if l1 is l2:
    print('they are same')
else:
    print('they are different')

they are same

In [133]:
print(l2)

[1, 2, 3, 4]

In [134]:
l1[0] = 6
print(l1)

[6, 2, 3, 4]

In [135]:
l2

[6, 2, 3, 4]

In [136]:
print(id(l1))
print(id(l2))

2349874630536
2349874630536

In [129]:
id(x)

2349872973840

In [130]:
id(y)

2349887785872

In [138]:
l3 = [1,2,3,4,5]
l4 = l3[:-1]
print(l4)

[1, 2, 3, 4]

In [139]:
l3[0] = 99
print(l3)

[99, 2, 3, 4, 5]

In [140]:
l4

[1, 2, 3, 4]

In [141]:
l4 = l3[:]
print(l4)

[99, 2, 3, 4, 5]

In [142]:
l3[2] = 97
print(l3)

[99, 2, 97, 4, 5]

In [143]:
l4

[99, 2, 3, 4, 5]

In [144]:
l4 = l3.copy()

In [145]:
l4

[99, 2, 97, 4, 5]

In [147]:
popped = l4.pop()

In [148]:
popped

4

In [149]:
l4

[99, 2, 97]

In [150]:
#### dictionary

demon = {}
type(demon)

dict

In [151]:
demon['name'] = 'raj'
print(demon)

{'name': 'raj'}

In [155]:
demon['attr'] = 'sleep'
print(demon)

{'name': 'raj', 'attr': 'sleep'}

In [156]:
demon['attr'] = 'crq'
print(demon)

{'name': 'raj', 'attr': 'crq'}

In [159]:
demon['rank'] = 27
print(demon)

{'name': 'raj', 'attr': 'crq', 'rank': 27}

In [161]:
d_keys = list(demon.keys())
d_keys

['name', 'attr', 'rank']

In [162]:
demon.values()

dict_values(['raj', 'crq', 27])

In [164]:
item = demon.items()

In [165]:
item

dict_items([('name', 'raj'), ('attr', 'crq'), ('rank', 27)])

In [168]:

i = 0
for x in range(10):
    print(x)
    print(f'{i}th iteration.')
    i += 1

0
0th iteration.
1
1th iteration.
2
2th iteration.
3
3th iteration.
4
4th iteration.
5
5th iteration.
6
6th iteration.
7
7th iteration.
8
8th iteration.
9
9th iteration.

In [171]:
for i,y in demon.items():
    print('the key: ',i)
    print('the value is :', y)

the key:  name
the value is : aryan
the key:  attr
the value is : crq
the key:  rank
the value is : 27

In [186]:
l = ['raj','crq',10**10]
d = {'name': 'raj',''}

In [192]:
msg = 'the name ,{name} and the attr , {attr} and the rank ,{rank}'.format(name='raj',rank=27,attr='sleep')
msg

'the name ,raj and the attr , sleep and the rank ,27'

In [193]:
name='raj'
rank=27
attr='sleep'
print(f'the name ,{name} and the attr , {attr} and the rank ,{rank}')

the name ,raj and the attr , sleep and the rank ,27

In [197]:
l = [1,1,2,1,4,1,5,6,2,4,5,2,7,8,8,9,5]
freq = {}
for i in l:
    freq[i] = freq.get(i,0) + 1

In [198]:
freq

{1: 4, 2: 3, 4: 2, 5: 3, 6: 1, 7: 1, 8: 2, 9: 1}

In [199]:
freq = {i: l.count(i) for i in l}
freq

{1: 4, 2: 3, 4: 2, 5: 3, 6: 1, 7: 1, 8: 2, 9: 1}

In [200]:
new_dict = {i:[] for i in range(4)}
new_dict

{0: [], 1: [], 2: [], 3: []}

In [202]:
uniq_l = list({n for n in l})
uniq_l

[1, 2, 4, 5, 6, 7, 8, 9]